ul li.checked {
    background: rgb(129, 129, 129, 0.774);
    color: rgb(197, 197, 197);
    text-decoration: line-through;
}

.empty-list {
    background: red;
    color: white;
    width: 30%;

}

ul li.empty {
    display: none;
}

.empty-list:hover{
    background: pink;
    color: black;
    width: 30%;
    
}

.starred {
    color: gold;
    /* rgba(158, 122, 43, 0.774) */

}

.btn-star {
    color: black;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


.btn-light {
    background-color: #0000004a;
    border-color: #e2e6ea00;
    color: white;
}

.btn-light:hover {
    background-color: #8080804a;
    border-color: #e2e6ea00;
    color: white;
}



.list-group-item {
    background-color: rgba(85, 85, 85, 0.774);
    color: white;
    border-radius: .25rem;
    padding-right: 0px;
}

.fa-plus-circle {
    color: rgba(240, 240, 240, 0.774);
    size: 3em;
}


body {
    background-image: url("../img/main-bg.jpg");
    background-repeat: no-repeat;
  }